Package: jobmonarch-jobarchived
Version: 0.2-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: python, gmetad, rrdtool, postgresql, ganglia-webfrontend
Installed-Size: 76K
Maintainer: Ramon Bastiaans <bastiaans@sara.nl>
Description: Job Archiving Daemon
