Package: jobmonarch-webfrontend
Version: 0.2-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: php4 | php5, php4-gd | php5-gd, rrdtool, ganglia-webfrontend
Installed-Size: 304K
Maintainer: Ramon Bastiaans <bastiaans@sara.nl>
Description: Job MonArch's Web Frontend
