.filter
{
   color: blue;
   cursor: pointer;
}

.filterenabled
{
   background: rgb(100,100,255);
   color: white;
   cursor: pointer;
}

.even
{
   background: rgb(255,255,255);
}

.odd
{
   background: rgb(240,240,240);
}
