Package: jobmonarch-jobarchived
Version: 1.0-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: python, gmetad, rrdtool, postgresql, python-psycopg2
Installed-Size: 76K
Maintainer: Job Monarch Development team <jobmonarch-developers@lists.sourceforge.net>
Description: Job Archiving Daemon
