.filter
{
   color: blue;
   cursor: pointer;
}

.filterenabled
{
   background: blue;
   color: white;
   cursor: pointer;
}

.monarch
{
   background: none;
}

.background
{
   background-image: url(../bg.gif);
   background-repeat: repeat;
}

.nodesfilter
{
   color: rgb(130,150,255);
   cursor: pointer;
}

.nodesfilterenabled
{
   background: rgb(130,150,255);
   color: white;
   cursor: pointer;
}

.rrd-float
{ 
   float: left; 
   margin: 4px; 
   margin-right: 0; 
   padding: 5px;
} 
