Package: jobmonarch-jobmond
Version: 0.2-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: python, pbs-python, ganglia-monitor
Installed-Size: 44K
Maintainer: Ramon Bastiaans <bastiaans@sara.nl>
Description: Job Monitoring Daemon
