Package: jobmonarch-jobmond
Version: 1.0-1
Section: misc
Priority: optional
Architecture: all
Essential: no
Depends: python, pbs-python, ganglia-monitor
Installed-Size: 44K
Maintainer: Job Monarch Development team <jobmonarch-developers@lists.sourceforge.net>
Description: Job Monitoring Daemon
